langchain
langchain-community
langchain-core                 
langchain-openai
langchain-text-splitters
SQLAlchemy==2.0.0
huggingface-hub
sentence-transformers
tiktoken
Chroma
faiss-cpu
duckduckgo-search
unstructured
fastapi
websockets
uvicorn
pydantic
edge_tts
selenium
BeautifulSoup
SpeechRecognition
soundfile
openai-whisper
# pyaudio
#py-applescript
#python-magic-bin==0.4.14