
langchain
langchain-community
langchain-openai
huggingface-hub
sentence-transformers
tiktoken
Chroma
faiss-cpu
duckduckgo-search
unstructured
python-magic
python-libmagic
fastapi
uvicorn
#python-magic-bin==0.4.14